.ant-table-tbody {
    font-weight: 500;
}

.ant-breadcrumb {
    font-weight: 500;
}

.s-course .ant-select-single.ant-select-lg .ant-select-selector {
    font-size: 14px !important;
}

.mdxeditor-popup-container {
    z-index: 1000 !important;

    button[title='Save'] {
        background-color: #0588f0 !important;
    }

    button[title='Cancel'] {
        background-color: #80838d !important;
    }
}

.chapters {
    .ant-tree-treenode {
        padding: 16px 8px !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05) !important;
            transition: all 0.2s, border 0s, line-height 0s, box-shadow 0s;
        }


    }

    .ant-tree-switcher {
        width: 10px !important;
    }
}